@import 'tailwindcss';

@keyframes slide-down-and-fade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-up-and-fade {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(2px);
  }
}

@theme {
  --color-giselle: #8257e6;
  --color-violet-25: #fcfaff;

  --grid-template-columns-app: minmax(18rem, 20rem) 1fr;
  --grid-template-columns-profile: max-content 1fr min-content;
  --grid-template-columns-form: minmax(7.5rem, 17.5rem) minmax(25rem, 1fr)
    minmax(0, 15rem);

  --border-width-6: 6px;

  --animate-slide-down-and-fade: slide-down-and-fade 0.4s
    cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-up-and-fade: slide-up-and-fade 0.4s
    cubic-bezier(0.16, 1, 0.3, 1);
}
